body {
    background: url("./../images/3d-blue-sky-with-fluffy-white-clouds.jpg");
    background-size: 110% 110%;
    min-height: 100vh;
    max-width: 100vw;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0.8);
    display: flex;
    align-content:center;
    flex-direction: column;
    text-align: center;
    font-family: $poppins;
    position: relative;
    z-index:-10;
    font-size: 16px;
    animation: move 50s ease infinite;
    @include mobile {
        background-size: cover;
        animation: move 400s ease infinite;
    }

    &::before {
        content: "";
        position:absolute;
        top: 0;
        right:0;
        z-index: -3;
        height: 100%;
        width: 100%;
        background-color: rgba(200,200,200,0.6);
    }
}
