.socials {
    display: flex;
    justify-content: center;
    gap: 3vw;
    img {
        opacity: 0.5;
    }
    img:hover {
        transform: scale(110%);
        transition: ease 0.7s;
        opacity: 1;
    }
}

footer {
    position: absolute;
    bottom:0;
    width: 100%;
}