h1 {
    width : 100%;
    font-size: 43px;
    font-weight: 400;
    margin-bottom:3vh;
    margin-top:3vh;
    opacity: 0.9;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    > * {
        height: 30px;
    }
    input[type=text] {
        margin-right: 15px;
        padding: 3px 8px;
        background-color: white;
        width: 200px;
        color: darkgrey;
        font-family:$poppins;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    img {
        height: 36px;
    }
    img:hover {
        transition: ease 0.4s;
        transform: scale(105%);
        cursor: pointer;
    }
}