main {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-bottom:6vh;
}

.today-forecast {
    background-color:rgba(200, 202, 205, 0.5);

}

.today-info {
    max-width: 90%;
    display: flex;
    align-self: center;
    margin-bottom:2vh;
    width : 400px;
    z-index:-2;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    overflow:hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    >* {
        flex:1;
        min-height: 100%;
    }
    .date {
        border-radius: 0 25px 0 0;
    }
}

.city-details {
    min-height: 100%;
    background: url("./../images/1189.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px  0 0 25px;
    position: relative;
    p {
        width : 100%;
        border-radius: 0 25px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0,0,0,0.7);
        opacity:0.9;
    }
}

.city-name {
    font-size: 20px;
    font-weight: light;
    text-transform : uppercase;
}

.cards-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: center;
    gap: 4vw;
    margin: 3vh 0;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 202, 205, 0.5);
    background-size: cover;
    min-width: 200px;
    min-height: 30vh;
    position:relative;
    z-index:-2;
    overflow:hidden;
    @include mobile {
        width: 90%;
    }
}

.date {
    background-color: rgba(0,0,0,0.7);
    color:white;
    border-radius: 25px 25px 0 0 ;
    padding: 1vh 0;
}
.weather-icon {
    height: 80px;
    width: auto; 
}
.temperatures {
    display: flex;
    justify-content: center;
    gap: 20px;
    .min, .max {
        display:flex;
        flex-direction: column;
        span {
            font-size: 14px;
        }
    }
}

.additional-info {
    display: flex;
    padding: 2vh;
    > * {
        flex:1;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        img {
            width: 25px;
            height:auto;
        }
    }
}