main {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-bottom:6vh;
}

.today-info {
    max-width: 90%;
    display: flex;
    align-self: center;
    margin-bottom:2vh;
    width : 400px;
    justify-content: center;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(255,255,255,0.3);
    >* {
        flex:1;
        min-height: 100%;
    }
    .date {
        border-radius: 0 25px 0 0;
    }
}

.city-details {
    min-height: 100%;
    background: url("./../images/1189.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px  0 0 25px;
    position: relative;
    p {
        width : 100%;
        border-radius: 0 25px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: #34839d;
        opacity:0.8;
    }
}

.city-name {
    font-size: 25px;
    font-weight: light;
    text-transform : uppercase;
}

.cards-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: center;
    gap: 4vw;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);
    min-width: 200px;
    min-height: 30vh;
}

.date {
    background-color: #34839d;
    color:white;
    border-radius: 25px 25px 0 0 ;
    padding: 1vh 0;
}
.weather-icon {
    height: 80px;
    width: auto; 
}
.temperature {
    font-size: 26px;
}
.additional-info {
    display: flex;
    padding: 2vh;
    > * {
        flex:1;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        img {
            width: 25px;
            height:auto;
        }
    }
    // flex-direction: column;
}